<div class="heading">
    <h1><marquee> Find Velosity/Height Under the Gravity Using this Online Calculator</marquee></h1>
    </div>
    <table border="0">
      <tbody>
      <tr>
        <td><p> Consider the situation we thorw<br> a something under the gravity using <br>some starting velosity<br> then it stop after going some hight.<br> or if we know the height we can find <br>what is the starting velosity . </p></td>
        <td class="one"><img src="assets/69404207-mann-der-den-fußball-ball-oben-betrachtend-spielt.jpg" width="540" height="320"></td>
      </tr>
      <tr>
        <td><img src="assets/four.png" width="560" height="350"></td>
        <td><p>To Use this online calculator <br> your throw angle must <br>be 90 degree aganst to the ground.<br> If you have some angle<br> then can't use <br> this.</p></td>
      </tr>
      </tbody>
    </table>
    
    <table border="0" class="type">
      <tbody>
      <tr>
        <th>Form for know velosity</th>
        <th> Form for know hight</th>
      </tr>
      <tr>
        <td>
          Enter your Velosity Velue<input type="number" name="velosity1" [(ngModel)]="velosity1" placeholder="Enter  m/s Units"><br>
          Answer(Height) = {{answer1}} m <br>
          <button type="button" class="btn btn-success" (click)="knowVelosity()">Success</button>
        </td>
        <td>
          Enter your Height<input type="number" name="height2" [(ngModel)]="height2" placeholder="Enter  m Units"><br>
          Answer(Velosity) = {{answer2}} m/s<br>
          <button type="button" class="btn btn-success" (click)="knowHight()">Success</button>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <img class="banner" src="assets/banner.png" width="1300" height="300">
    <h6> Created by:Aruna Samarsinghe(UI/UX and Web Developer)</h6>
    
    
    
    